html,body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
body {
  font-family: 'Droid Serif', Helvetica, Arial, FreeSans, san-serif;
  font-size: 14px;
  line-height: 1.75em;
  color:#434343;
  margin:0;
  padding:0;
}
#notice {
	font:bold 18px/22px 'Droid Serif'; 
	text-align:center;
	padding:10px;
	margin:5px auto;
}
#notice span.desc {font-weight:normal; font-size:14px}
#gState {
	color: #DA0000;
}
#gState.alive {
	color: #649D00;
}
#title {
	text-align:center;font-size:24px;
	margin:0;line-height:10px;
	min-width:960px;
	border-bottom:1px solid #fff;		
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888; 
}
#wrapwrap {
	padding:15px 0 10px;
	border-bottom:1px solid #DEDEDE;
}
#titleWrap {
	position:relative;
	cursor:pointer; z-index:10;
}
#titleWrap #host {display:none}
#titleWrap.hover #host {display:inline}
#ver {position:relative;font:11px georgia; z-index:5;}
span.red {color:red}
#container {
	width:960px;margin:0 auto;
	margin-top:15px;
}
#maker {text-align:right; font:12px georgia;padding:0.25em 2em}
h3 {border-bottom:1px solid #DEDEDE;padding: 5px 0 5px 10px;}
h4 {border-bottom:1px solid #DEDEDE;padding: 5px 10px; font-size:16px}
#imgDesc {text-align:center}

.syntaxhighlighter a, 
.syntaxhighlighter div, 
.syntaxhighlighter code, 
.syntaxhighlighter table, 
.syntaxhighlighter table td, 
.syntaxhighlighter table tr, 
.syntaxhighlighter table tbody, 
.syntaxhighlighter table thead, 
.syntaxhighlighter table caption, 
.syntaxhighlighter textarea
{font-size:14px !important;font-family:'Cousine' !important}
span.desc {color:#B6B6B6;font-size:14px;}
button { 
	display:inline-block;
	vertical-align:middle;
	background:#F3F3F3;
	border:1px solid #E6E6E6;
	margin: 1px 2px;
	line-height:24px;
	padding:3px 3px;
	font:14px 'Cousine';
	border-radius:5px;
}
button.enabled {
	border-color:#F4D738;
}
button.bWidth {width:270px}

button.hover {
	border-color:#D98001;
	background:#F4D738;
	cursor:pointer;
	padding:4px 3px 2px;
	color:#000;
}

#download a{
	border-bottom-right-radius: 8px;
}
#home a{
	border-bottom-left-radius: 8px;
}
/* API DOCUMENTS */

#api ul {font:12px/1.75em 'Droid Serif'}

/*  MENU ITEMS */
#pages   {width:100%;text-align:center;}
#pages a {
	position:relative;
	display:inline-block;
	font:14px georgia;padding:5px;
	border:1px solid #DEDEDE;
	width:120px;
	text-align:center;
	background:#fff;
	margin-left:-1px;
	cursor:pointer}
#pages span.hover a{
	display:inline-block;
	z-index:10;
	border-color: #CCCCCC;
	background: #E7FDC5;
}
#pages a:link,
#pages a:visited 
{	text-decoration:none; color:#434343}
#pages span.hover a:link,
#pages span.hover a:visited 
{ text-decoration:none; 
	color: #3C6200;}
input {display:inline-block}
div.info {
	text-align:center;
	border:2px solid #DBD12E;
	padding:10px;
	width:550px;
	background:#FFFDE2;
	margin:10px auto;
	font:14px/1.75em arial;
	border-radius:5px;
}